<html>
  <head>
    <title>Contact Tom</title>
    <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="topnav">
        <a href="#home" class="active">Henry Frank</a>
           <div id="myLinks">
                <a href="#news">Projects</a>
                <a class="nav-link" href="/contact">Contact</a>
                <a href="#about">About</a>
                <p id="navContact">Henry Frank<br>henryfrank@gmail.com<br>
                    </div>
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                          <i class="fa fa-bars"></i>
                        </a>
                    </div>
            <div>
    <div>
      <form action="/thanks" method="POST" name="submit-to-google-sheet">
        <label for="firstName">First Name :</label>
        <input id="firstName" name="firstName" type="text">

        <label for="lastName">Last Name:</label>
        <input id="lastName" name="lastName" type="text">

        <label for="email">Email:</label>
        <input id="email" name="email" type="email" placeholder="Email">

        <input type="submit" />
      </form>
      <script>
        const scriptURL = 'https://script.google.com/macros/s/AKfycbxPv0uy2yb0JwJPZ51G5ETPrjFPt6DYzPT5UAA0dsfgpBWaPoA/exec'
        const form = document.forms['submit-to-google-sheet']
      
        form.addEventListener('submit', e => {
          e.preventDefault()
          fetch(scriptURL, { method: 'POST', body: new FormData(form)})
            .then(response => console.log('Success!', response))
            .catch(error => console.error('Error!', error.message))
        })
      </script>
    </div>
    <script src="../index.js" charset="utf-8"></script>
  </body>
</html>